@{
    ViewBag.Title = "Support";
}
<br />
<br />
<img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png" />
<br />
<br />
<h2>@ViewBag.Title</h2>
<h4>If you seem to be having any issues, here are some contacts</h4>

<address>
    1020 Dennison Ave, <br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    (614) 205-8112
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />*@

</address>