
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>You are not authenticated</h2>
    Please register your account or log in to view profiles
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")
