body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: purple;
    color: #cccccc;
}

.navbar-inverse {
    background-color: purple ;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }


body {
    background: #EEEEEE;
}

.box-info.full {
    padding: 0px;
}

.box-info:hover {
    color: #393E48;
}

.box-info {
    position: relative;
    padding: 15px;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    background: #FFFFFF;
    margin-top: 20px;
}

    .box-info .nav-tabs {
        background: #1B1E24;
    }

        .box-info .nav-tabs li.active a, .box-info .nav-tabs li.active a:hover, .box-info .nav-tabs li.active a:focus {
            cursor: default;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: none;
            background-color: #ffffff;
            color: #1B1E24;
        }

            .box-info .nav-tabs li.active a i, .box-info .nav-tabs li.active a:hover i, .box-info .nav-tabs li.active a:focus i {
                color: #212121;
            }

        .box-info .nav-tabs li a i {
            color: #fff;
        }

    .box-info.full .box-footer {
        padding: 20px 20px 15px 20px;
    }

    .box-info .media-list {
        margin-top: 30px;
    }

        .box-info .media-list .media {
            padding: 5px 20px;
            border-bottom: 1px solid #eaeaea;
        }

            .box-info .media-list .media .media-object {
                width: 50px;
            }

.scroll-widget {
    overflow: hidden;
    width: auto;
    height: 325px;
}
