
@{
    ViewBag.Title = "EditDeleteNo";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>You are not allowed to edit or delete another employee's profile</h2>
    
</div>
<br />
@Html.ActionLink("Return to Profile", "index", "employeeInfoes")
