@{
    ViewBag.Title = "About";
}
<h2>About Centric</h2>
<h3>Here are some of Centric's goals and values</h3>

<p>We’ve always done things a little differently at Centric Consulting.</p>
<br />
<p>We bring new ideas and unique perspectives by blending business and technology expertise with creativity, logic, and an understanding of your business.</p>
