@{
    ViewBag.Title = "About";
}
<br />

<br />

    <img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png">
<br />
<br />


<h3>Here are some of Centric's goals and values</h3>

<p>We’ve always done things a little differently at Centric Consulting. Some of our foundational attributes are be a good person, provide value, lead with your heart, care for others, and make time for those around you.</p>
<br />
<h4>Put company culture, clients, and employees first </h4>
<p>
    Hire employees with a shared vision and commitment to helping clients be the best they can be. Nurture the talents and interests of
    employees in their professional and personal lives.
</p>
<br />
<h4>Create a virtual office model that includes localized business units</h4>
<p>
    Allow employees to have a better, balanced lifestyle with more flexibility by being able to live and work in their individual communities.
</p>
<br />
<h4>Hire people with passion, integrity, and who genuinely care for others</h4>
<p>
    Seek those who have a hunger for learning, generating ideas, and trying something new. Find individuals that revel in doing the unexpected and extraordinary for others.
</p>