@{
    ViewBag.Title = "About";
}
<br />

<br />

    <img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png">
<br />
<br />


<h3>Here are some of Centric's goals and values</h3>

<p>1. Commit to delivery exellence</p>
<br />
<p>2. Embrace integrity and openness</p>
<br />   
<p>3. Practice responsible stewardshsip</p>
<br />
<p>4. Invest in exceptional culture</p>
<br />
<p>5. Ignite passion for the greater good</p>
<br />
<p>6. Strive to innovate</p>
<br />
<p>7. Live a balanced life</p>