@{
    ViewBag.Title = "Home Page";
    
}
<br />
<br />
<img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png" />
<br />
<br />
            <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
                <div class="container bootstrap snippet">
                    <div class="col-sm-8">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">


                        </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <a href="#"><b>Sarah P.</b></a>
                                            made a post.
                            </div>
                                        <h6 class="text-muted time">1 minute ago</h6>
                                    </div>
                                </div>
                                <div class="post-description">
                                    <p></p>
                                    <div class="stats">
                                        <a href="#" class="btn btn-default stat-item">
                                            <i class="fa fa-thumbs-up icon"></i>2
                            </a>
                                        <a href="#" class="btn btn-default stat-item">
                                            <i class="fa fa-share icon"></i>12
                            </a>
                                    </div>
                                </div>
                                <div class="post-footer">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Add a comment" type="text"> <span class="input-group-addon">
                                            <a href="#"><i class="fa fa-edit"></i></a>
                                        </span>
                                            <br />
                                            <br />
                        </div>
                                        <ul class="comments-list">
                                            <li class="comment">
                                                <a class="pull-left" href="#">
                                                    <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                </a>
                                                    <div class="comment-body">
                                                        <div class="comment-heading">
                                                            <h4 class="user">Sam </h4>
                                                            <h5 class="time">5 minutes ago</h5>
                                                        </div>
                                                        <p>Adjusting spacing..</p>
                                                    </div>
                                                    <br />
                                                    <br />

                                                    <ul class="comments-list">
                                                        <li class="comment">
                                                            <a class="pull-left" href="#">
                                                                <img class="avatar" src="https://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                                        </a>
                                                                <div class="comment-body">
                                                                    <div class="comment-heading">
                                                                        <h4 class="user">Eleanor W. </h4>
                                                                        <h5 class="time">3 minutes ago</h5>
                                                                    </div>
                                                                    <p>Good work!</p>
                                                                </div>
                                                                <br />
                                                                <br />
                                    </li>
                                                            <li class="comment">
                                                                <a class="pull-left" href="#">
                                                                    <img class="avatar" src="https://bootdey.com/img/Content/user_2.jpg" alt="avatar">
                                        </a>
                                                                    <div class="comment-body">
                                                                        <div class="comment-heading">
                                                                            <h4 class="user">Kailey L.</h4>
                                                                            <h5 class="time">3 minutes ago</h5>
                                                                        </div>
                                                                        <p>Ok, cool.</p>
                                                                    </div>
                                    </li>
                                </ul>
                                                        </li>
                                                    </ul>
                    </div>
                </div>
            </div>
                                    </div>
                                    

    <div class="row">
        <div class="col-md-6">
            <h2>Centric's Goal</h2>
            <p>
                "We work together to uncover the answers so you're more knowledgeable, confident and own a lasting solution that grows with you." Click the button below to learn more about our company.
            </p>
            @Html.ActionLink("About", "About", "Home")
        </div>
        <div class="col-md-6">
            <h2>Centric Employee Leaders</h2>
            <p>Centric employees strive towards meeting the company's 7 core values. If you log in or register then you can see what goals you have met!</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        @*<div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>