@{
    ViewBag.Title = "Home Page";

}
<br />
<br />
<img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png" />
<br />
<br />

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">
    <div class="col-sm-6">
        <!-- Begin tab comment and popular posts -->
        <div class="box-info full">
            <!-- Tab comments and popular posts -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#comments" data-toggle="tab"><i class="fa fa-comments"></i> New Comments</a></li>
                <li><a href="#popular" data-toggle="tab"><i class="fa fa-star"></i> Popular Posts</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Pane comments -->
                <div class="tab-pane active animated fadeInRight" id="comments">
                    <!-- Begin scroll wrappper -->
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 325px;">
                        <div class="scroll-widget">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#fakelink">

                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#fakelink">John Doe</a> <small>Just now</small> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                            <style>
                                                .fa {
                                                    font-size: 30px;
                                                    cursor: pointer;
                                                    user-select: none;
                                                }

                                                    .fa:hover {
                                                        color: purple;
                                                    }
                                            </style>
                                            </head>
                                            <body>



                                                <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                                                <script>
                                                    function myFunction(x) {
                                                        x.classList.toggle("fa-thumbs-down");
                                                    }
                                                </script>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  
                                            </p>

                                    </div>


                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#fakelink">
                                        
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#fakelink">Agent 007</a> <small>Yesterday at 04:00 AM</small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#fakelink">
                                        
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#fakelink">Twitter man</a> <small>January 17, 2014 05:35 PM</small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </li>
                            </ul>
                        </div><div class="slimScrollBar" style="width: 3px; position: absolute; top: 11px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; height: 209.5734126984127px; background: rgb(134, 134, 134);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.3; z-index: 90; left: 1px; background: rgb(51, 51, 51);"></div>
                    </div><!-- End div .scroll-widget -->
                    <div class="box-footer">
                        <p><a href="#fakelink"><i class="fa fa-share"></i> See all comments</a></p>
                    </div>
                </div><!-- End div .tab-pane -->
                <!-- Pane popular posts -->
                <div class="tab-pane animated fadeInRight" id="popular">
                    <!-- Begin scroll wrappper -->
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 325px;">
                        <div class="scroll-widget" style="overflow: hidden; width: auto; height: 325px;">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#fakelink">Cras sit amet erat sit amet lacus egestas</a>
                                            <br><small>January 17, 2014 at 11:24 PM</small>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#fakelink">Cras sit amet erat sit amet lacus egestas</a>
                                            <br><small>January 17, 2014 at 08:24 AM</small>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#fakelink">Cras sit amet erat sit amet lacus egestas</a>
                                            <br><small>January 17, 2014 at 05:24 AM</small>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                    </div>
                                </li>
                            </ul>
                        </div><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; background: rgb(134, 134, 134);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.3; z-index: 90; left: 1px; background: rgb(51, 51, 51);"></div>
                    </div><!-- End div .scroll-widget -->
                    <div class="box-footer">
                        <p><a href="#fakelink"><i class="fa fa-share"></i> See all posts</a></p>
                    </div>
                </div><!-- End div .tab-pane -->
            </div><!-- End div .tab-content -->
        </div><!-- End div .box-info .full -->
        <!-- End tab comment and popular posts -->
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Centric's Goal</h2>
        <p>
            "We work together to uncover the answers so you're more knowledgeable, confident and own a lasting solution that grows with you." Click the button below to learn more about our company.
        </p>
        @Html.ActionLink("About", "About", "Home")
    </div>
    <div class="col-md-6">
        <h2>Centric Employee Leaders</h2>
        <p>Centric employees strive towards meeting the company's 7 core values. If you log in or register then you can see what goals you have met!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>