@{
    ViewBag.Title = "Home Page";

}
<br />
<br />
<img src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png" />
<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="container">
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        Centric Live
                    </h3>
                </div>
                <div class="panel-body">
                    <a class="twitter-timeline" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="row">
    <div class="col-md-6">
        <h2>Centric's Goal</h2>
        <p>
            "We work together to uncover the answers so you're more knowledgeable, confident and own a lasting solution that grows with you." Click the button below to learn more about our company.
        </p>
        @Html.ActionLink("About", "About", "Home")
    </div>
    <div class="col-md-6">
        <h2>Centric Employee Leaders</h2>
        <p>Centric employees strive towards meeting the company's 7 core values. If you log in or register then you can see what goals you have met!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>